
.eliminarradiografia, .boton-actualizarradiografia {
    cursor: pointer;
    display: none; /* Por defecto, oculta el botón "x" */
    position: absolute; /* Hace que el botón tenga una posición absoluta */
    top: 50%; /* Lo posiciona en el centro verticalmente */
    left: 50%; /* Lo posiciona en el centro horizontalmente */
    transform: translate(-50%, -50%); /* Lo centra exactamente en el centro del contenedor */
  }

  .contenedor-radiografia2 {
    position: relative; /* Necesario para que el botón absoluto se posicione correctamente */
  }

  .contenedor-radiografia2:hover .eliminarradiografia {
    display: inline-block; /* Muestra el botón "x" cuando se pasa el mouse sobre el contenedor */
  }
  .contenedor-radiografia {
    position: relative; /* Necesario para que el botón absoluto se posicione correctamente */
  }

  .contenedor-radiografia:hover .boton-actualizarradiografia {
    display: inline-block; /* Muestra el botón "x" cuando se pasa el mouse sobre el contenedor */
  }
  
.table-bordered th, .table-bordered td {
    border: 1px solid black;
     /* Grosor y color de la línea horizontal */
}
