footer {
	
	background: #0F1B40;
	
}
.letra-roboto{
    font-family: 'Roboto', sans-serif;
}
.bn-color{
    background-color: #212F5B;
}
.wsp-color{
    color: green;
}
.letra1{
    color: #EFB048;
}
.letra2{
    color: black;   
}
body{
    background-color: #EDEDED;
    padding-left: 15px;
    padding-right: 15px;


     
}
.pd-tamaño{
    padding-bottom: 30px;
}
.icono-tamaño{
    font-size: 35px;
    
}
.tratamiento{
    background-color: #EDEDED;
}



.posicionado{
    position: absolute;
   

}
.relativo{
    position: relative;
    
    top: 15%;
    left: 13px;

}
#diferentes{
    background-color: white;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding-bottom: 20px; 
}
#paciente{
    background-color: white;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    padding-top: 20px;
}
#tratamiento{
    padding-top: 40px;
    padding-bottom: 40px;
}
.bg-nosotros{
    background-color: #E5E9F6;
}
.ml-nosotros{
    margin-left: 7%;
}
#recomendacion{
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: url(img/FONDO.png);
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
    }