footer {
	
	background: #0F1B40;
	
}
.boton-eliminar, .boton-actualizar{
    cursor: pointer;
}

.letra-roboto{
    font-family: 'Roboto', sans-serif;
}
.bn-color{
    background-color: #212F5B;
}
.c-color{
    color: #212F5B;
}
.wsp-color{
    color: green;
}
.letra1{
    color: #EFB048;
    
    
}
.icono-color{
    color: #EFB048;
    font-size: 25px;
}
.letra2{
    color: black;   
}
body{
    background-color: #EDEDED;
    padding-left: 15px;
    padding-right: 15px;  
}
.btn-azul{
    color: #212F5B;
     border-radius: 0; 
    padding-left: 25px; 
    padding-right: 25px;
}
.pd-tamaño{
    padding-bottom: 30px;
}
.icono-tamaño{
    font-size: 35px;
    
}
.tratamiento{
    background-color: #EDEDED;
}



.posicionado{
    position: absolute;
   

}
.relativo{
    position: relative;
    
    top: 15%;
    left: 13px;

}
#diferentes{
    background-color: white;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding-top: 60px;
    padding-bottom: 40px; 
}
#paciente{
    background-color: white;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    padding-top: 100px;
    padding-bottom: 70px; 
}
#tratamiento{
    padding-top: 40px;
    padding-bottom: 40px;
}
.bg-nosotros{
    background-color: #E5E9F6;
}
.ml-nosotros{
    margin-left: 7%;
}
#recomendacion{
    background-color: #E5E9F6;
    
    
    background-image: url(img/FONDO-DIFICIL.jpg);
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    }

.circulo{
    margin-top: -75px;
    
    
}
.circle {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido del círculo */
    justify-content: center; /* Centra horizontalmente el contenido del círculo */
    width: 40px; /* Ajusta el tamaño del círculo según tus preferencias */
    height: 40px;
    margin-right: 1px; /* Espacio entre el círculo y el ícono */
    border: 2px solid #EFB048; /* Ancho y color de la línea circular */
    border-radius: 50%; /* Esto hace que el círculo sea circular */
    padding: 1px; 
}
.style-card{
    background-color: #EDEDED;
     border: none; 
     
}
.border-card{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.5);

}
.border-card2{
    border-bottom-left-radius: 30px; 
    box-shadow: 5px 8px 10px 2px rgba(0, 0, 0, 0.5);
}
.border-card3{
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.5);

}
#NuestrosEspecialistas{
    background-color: white;
    
}
u{
    text-decoration: underline;
    text-decoration-color: #EFB048;
    text-decoration-skip-ink: auto; /* Permite el control del espacio entre el subrayado y el texto */
    text-underline-offset: 10px;
}
.vr {
    width: 4px; /* Ancho de la línea vertical */
    height: 85%; /* Tamaño completo de la columna */
    background-color: #EFB048; /* Color de la línea vertical */
    margin-right: 30px; /* Espacio entre la línea y el contenido */
}
.nav-pills .nav-link.active {
    background-color: #EFB048 !important;
    color: #FFFFFF !important;
}


  