footer {
	
	background: #0F1B40;
	
}
.degradado {
    width: 100%; /* Ancho del área del degradado */
    height: auto; /* Alto del área del degradado */
    background: linear-gradient(to right, #06216c, #00109D); /* De izquierda a derecha */
    /* Si quieres de arriba hacia abajo, usa esto: */
    /*background: linear-gradient(to bottom, #06216c, #00109D); */
}   
.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .slider-container {
    position: relative;
  }

  .contact-info {
    position: relative;
    z-index: 1; /* Asegura que la información de contacto esté delante del slider */
    margin-top: -8%; /* Ajusta según sea necesario */
  }
  

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 2vw; /* Tamaño del icono */
    height: 2vw; /* Tamaño del icono */
  }
  .whatsapp-icon {
    
    border: 1px solid #fff;
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    
    animation: efecto 1.2s infinite;
    transition: ease 0.3s; /* Agrega una transición suave */
    position: relative; /* Para permitir posicionar elementos secundarios con respecto a él */
  
  }
  .whatsapp-icon:hover{
    transform: scale(1.1);
    transition: 0.3s;
  }
  @keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100%{
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
  }

.letra-roboto{
    font-family: 'Roboto', sans-serif;
}
.bn-color{
    background-color: #212F5B;
}
.bn-color2{
    background-color: #134E9C;
}
.c-color{
    color: #212F5B;
}
.wsp-color{
    color: green;
}
.letra1{
    color: #EFB048;
       
}
.letravoley{
    color: #134E9C;
       
}
.icono-color{
    color: #EFB048;
    font-size: 2.5vw;
}
.letra2{
    color: black;   
}
body{
    background-color: white;
      
}
.btn-azul{
    color: #212F5B;
     
   
}
.pd-tamaño{
    padding-bottom: 30px;
}

.tratamiento{
    background-color: #EDEDED;
}



.posicionado{
    position: absolute;
   

}
.relativo{
    position: relative;
    
    top: 15%;
    left: 13px;

}
#diferentes{
    background-color: white;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    
}
#paciente{
    background-color: white;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
   
}
#tratamiento{
    padding-top: 5%;
    padding-bottom: 5%;
}
.bg-nosotros{
    background-color: #E5E9F6;
}

#recomendacion{
    background-color: #E5E9F6;
    
    
    background-image: url(img/FONDO-DIFICIL.jpg);
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    }

.circulo{
    margin-top: -70px;
    
    
}
.icono-tamaño{
    font-size: 3vw;
}
.circle {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido del círculo */
    justify-content: center; /* Centra horizontalmente el contenido del círculo */
    width: 120%; /* Ajusta el tamaño del círculo según tus preferencias */
    height: 50%;
    margin-right: 1px; /* Espacio entre el círculo y el ícono */
    border: 2px solid #EFB048; /* Ancho y color de la línea circular */
    border-radius: 50%; /* Esto hace que el círculo sea circular */
    padding: 1px; 
}
.style-card{
    background-color: #EDEDED;
     border: none; 
     
}
.border-card{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.5);

}
.border-card2{
    border-bottom-left-radius: 30px; 
    box-shadow: 5px 8px 10px 2px rgba(0, 0, 0, 0.5);
}
.border-card3{
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.5);

}
#NuestrosEspecialistas{
    background-color: white;
    
}
u{
    text-decoration: underline;
    text-decoration-color: #EFB048;
    text-decoration-skip-ink: auto; /* Permite el control del espacio entre el subrayado y el texto */
    text-underline-offset: 4px;
}
.vr {
    width: 2px; /* Ancho de la línea vertical */
    height: 80%; /* Tamaño completo de la columna */
    background-color: #EFB048; /* Color de la línea vertical */
    margin-right: 20px; /* Espacio entre la línea y el contenido */
}
.nav-pills .nav-link.active {
    background-color: #EFB048 !important;
    color: #FFFFFF !important;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #212F5B; /* Cambia "blue" al color que desees */
}


  